/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */

 /* CSS RESET - START */
 /* http://meyerweb.com/eric/tools/css/reset/ */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }

 ins {
     text-decoration: none;
 }
 del {
     text-decoration: line-through;
 }
  
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /* CSS RESET - END */


/* BASIC STYLES - START */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

html { 
  background-image: url(files/light-mesh.png);
  background-repeat: repeat;
  /*background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #1c1c1c;
    background: none;
    margin: 0;
    min-height: 100%;
    opacity: 0.85;
}

p,
ul {
    margin: 0 0 1.5em;
}
 
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}

a {
  /*font-weight: bold;*/
  color: black;
}

h1 {

}
 
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  margin: 0 0 0.5em;
  font-weight: bold;
}

/* BASIC STYLES - END */

/*.body-content ul li {
  display: none;
} 

.body-content ul li:hover ul {
    display: block;
}*/

/*ul#childlist
{
    display:none;
}

ul#parentlist {
  list-style: none;
}

ul#parentlist li:hover ul#childlist
{ 
  display: block; 
}*/

.projects-parent 
{
  list-style: none;
}

/*TEST*/
#expand-btn-1 {
    text-decoration: underline;
}
#isexpanded:checked ~ #expand-btn, #isexpanded:checked ~ * #expand-btn {
    
}
#isexpanded-1 {
    display: none;
}
#expandable-1 {
    display: none;
}
#isexpanded-1:checked ~ #expandable-1, #isexpanded-1:checked~ * #expandable-1 {
    display: inline-block;
}

#expand-btn-2 {
    text-decoration: underline;
}
#isexpanded:checked ~ #expand-btn, #isexpanded:checked ~ * #expand-btn {
    
}
#isexpanded-2 {
    display: none;
}
#expandable-2 {
    display: none;
}
#isexpanded-2:checked ~ #expandable-2, #isexpanded-2:checked~ * #expandable-2 {
    display: inline-block;
}

#expand-btn-3 {
    text-decoration: underline;
}
#isexpanded:checked ~ #expand-btn, #isexpanded:checked ~ * #expand-btn {
    
}
#isexpanded-3 {
    display: none;
}
#expandable-3 {
    display: none;
}
#isexpanded-3:checked ~ #expandable-3, #isexpanded-3:checked~ * #expandable-3 {
    display: inline-block;
}

#expand-btn-4 {
    text-decoration: underline;
}
#isexpanded:checked ~ #expand-btn, #isexpanded:checked ~ * #expand-btn {
    
}
#isexpanded-4 {
    display: none;
}
#expandable-4 {
    display: none;
}
#isexpanded-4:checked ~ #expandable-4, #isexpanded-4:checked~ * #expandable-4 {
    display: inline-block;
}

#expand-btn-5 {
    text-decoration: underline;
}
#isexpanded:checked ~ #expand-btn, #isexpanded:checked ~ * #expand-btn {
    
}
#isexpanded-5 {
    display: none;
}
#expandable-5 {
    display: none;
}
#isexpanded-5:checked ~ #expandable-5, #isexpanded-5:checked~ * #expandable-5 {
    display: inline-block;
}

#expand-btn-6 {
  /*color: #d8d8d8;
  background: #1c1c1c;
  padding: 200px 25px 200px 25px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;*/
  display: block;
  padding: 0px 25px;
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #383838;
}
/*#isexpanded-6:checked ~ #expand-btn-6, #isexpanded-6:checked ~ * #expand-btn-6 {
    
}*/
#isexpanded-6 {
    display: none;
}
#expandable-6 {
    display: none;
}
#isexpanded-6:checked ~ #expandable-6, #isexpanded-6:checked~ * #expandable-6 {
    display: block;
}

#expand-btn-6:hover,
#expand-btn-6:focus {
  color: #1c1c1c;
  background: #ccc;
}
/*TEST*/


.body-wrapper {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  margin: 0;
}

.body-header {
  background: #1c1c1c;
  padding: 15px 20px 8px 20px;
  height: 35px;
}

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
.body-header:before,
.body-header:after {
  content:"";
  display:table;
}
         
.body-header:after {
  clear:both;
}
         
/* For IE 6/7 (trigger hasLayout) */
.body-header {
  zoom:1;
}

h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
    float: left;
    letter-spacing: 0.1em;
}

a.to_nav {
    float: right;
    color: #d8d8d8;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    font-size: 100%;
    font-weight: bold;
    line-height: 28px;
    height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.body-content  {
  color: black;
  /*background: #fafafa;*/
  background: #ffffff;
  margin: 10px 10px 10px 10px;
  padding: 20px 20px 5px 20px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 100%;
  line-height: 200%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.body-content  a:link {
  font-weight: bold;
  color: black;
}

.current_page_link {
  background: #424242;
  color: white;
}

.projects {
  list-style-type: square;
  /*margin: 0.5em 0 1.5em;*/
}

.body-content a:visited {
  font-weight: bold;
  color: #535353;
}

.body-content a:hover {
  font-weight: bold;
  color: #A3A3A3;
}

.body-content a:active {
  font-weight: bold;
  color: black;
}

/*navigation*/
#primary_nav {
  margin: 0px 10px 0px 10px;
  padding-bottom: 20px; /* Height of the footer element */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*TEST*/
/*#primary_nav a
{
    display: none;
}*/
#primary_nav li
{
    position: relative;
}

/* first level */
#primary_nav > ul
{
    /*height: 3.75em;*/
}
    #primary_nav > ul > li
    {
        width: 100%;
        height: 50%;
        /*float: left;*/
    }

/* second level */
/*#primary_nav li ul
{
    display: none;
    position: absolute;
    top: 50%;
}*/
/*#primary_nav li:hover ul
{
    display: block;
}*/
/*TEST*/

/*span {
  color: #d8d8d8;
  background: #1c1c1c;
  padding: 0px 25px;
  font-weight: bold;
  text-transform: uppercase;
}*/

.submenu {
  display: none;
}

span:target ~ .submenu {
  display: block;
}

#primary_nav ul {
  list-style: none;
  background: #1c1c1c;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#primary_nav ul li a {
  display: block;
  padding: 0px 25px;
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #383838;
  text-align: center;
}

/*#primary_nav ul li span {
  display: block;
  padding: 0px 25px;
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}*/
 
#primary_nav ul li a:hover,
#primary_nav ul li a:focus {
  color: #1c1c1c;
  background: #ccc;
}

/*TEST*/
/*#nav
{
    position: relative;
}
    #nav > a
    {
    }
    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type
    {
        display: block;
    }*/

/* first level */

/*#nav > ul
{
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
#nav:target > ul
{
    display: block;
}
#nav > ul > li
{
    width: 100%;
    float: none;
}*/

#primary_nav > ul > li > ul
{
  /*padding: 200px;*/
  /*margin: 20px 20px 20px 20px;*/
  margin: 0;
  padding: 5px 10px 5px 10px;
}

#primary_nav > ul > li > ul > li > a
{
  font-size: 80%;
  text-align: center;
}

/* second level */
/*#nav li ul
{
    position: static;
}    */
/*TEST*/

#resume-pdf-view {
  display: none;
}

.body-footer {
  color: #d8d8d8;
  background: #1c1c1c;
  height: 25px;
  position: absolute;
  bottom: 0;
  /*left: 0;*/
  /*margin: 10px 10px 10px 10px;*/
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 15px;
  padding-top: 10px;
}

@media only screen and (min-width: 1024px) {
  
  html, body
  {
    margin: 0;
  }

  a.to_nav {
    display: none;
  }
  
  #resume-pdf-view {
    display: block;
  }
  
  .wrapper {
    position: relative;
    width: 1024px;
    margin: auto;
  }
  
  .body-content  {
    /*padding-bottom: 50px;*/
    /*margin-bottom: 20px;*/
    /*padding-left: 100 px;*/
    margin: 30px 30px 30px 30px;
    padding: 60px 60px 50px 60px;
  }

  #primary_nav {
    position: absolute;
    top: 4px;
    right: 4px;
    margin: 0px 2px 0px 0px;
  }

  #primary_nav ul {
    list-style: none;
    background: #1c1c1c;
  }

  #primary_nav ul li {
    float: left;
    position: relative;
    width: 150px;
  }

  #primary_nav ul li a {
    color: #d8d8d8;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
  }

  #primary_nav ul li ul
  {
      display: none;
      position: absolute;
      top: 100%;
      font-size: 85%;
  }

  #primary_nav ul li:hover ul
  {
    display: block;
  }
  #primary_nav ul li:hover ul li
  {
    display: block;
    width: 100%;
  }
  #primary_nav ul li:hover ul li a
  {
    display: block;
    text-align: center;
  }

  #expand-btn-6 {
    /*color: #d8d8d8;
    background: #1c1c1c;
    padding: 200px 25px 200px 25px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;*/
    /*display: block;
    padding: 0px 25px;
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    height: 2.5em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    border: none;
  }

  .body-footer {
    margin: 0;
    color: #d8d8d8;
    background: #1c1c1c;
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 15px;
  }

}