/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */

 /* CSS RESET - START */
 /* http://meyerweb.com/eric/tools/css/reset/ */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }

 ins {
     text-decoration: none;
 }
 del {
     text-decoration: line-through;
 }
  
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /* CSS RESET - END */


/* BASIC STYLES - START */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

html { 
  background-image: url(files/wall1_compressed.JPG);
  background-repeat: repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #1c1c1c;
    background: none;
    margin: 0;
    min-height: 100%;
    opacity: 0.85;
}

p,
ul {
    margin: 0 0 1.5em;
}
 
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}

a {
  /*font-weight: bold;*/
  color: black;
}

h1 {

}
 
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  margin: 0 0 0.5em;
  font-weight: bold;
}

/* BASIC STYLES - END */

.body-wrapper {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  margin: 0;
}

.body-header {
  background: #1c1c1c;
  padding: 15px 12px 8px 12px;
  height: 30px;
}

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
.body-header:before,
.body-header:after {
  content:"";
  display:table;
}
         
.body-header:after {
  clear:both;
}
         
/* For IE 6/7 (trigger hasLayout) */
.body-header {
  zoom:1;
}

h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.15em;
}

a.to_nav {
    float: right;
    color: #d8d8d8;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    font-size: 75%;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.body-content  {
  color: black;
  background: #fafafa;
  margin: 10px 10px 10px 10px;
  padding: 20px 20px 5px 20px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 100%;
  line-height: 125%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.body-content  a:link {
  font-weight: bold;
  color: black;
}

.current_page_link {
  background: #424242;
  color: white;
}

.projects {
  list-style-type: square;
  margin: 0.5em 0 1.5em;
}

.body-content a:visited {
  font-weight: bold;
  color: #535353;
}

.body-content a:hover {
  font-weight: bold;
  color: #A3A3A3;
}

.body-content a:active {
  font-weight: bold;
  color: black;
}

/*navigation*/
#primary_nav {
  margin: 10px 10px 0px 10px;
  padding-bottom: 20px; /* Height of the footer element */
}

#primary_nav ul {
  list-style: none;
  background: #1c1c1c;
  padding: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
 
#primary_nav li a {
  display: block;
  padding: 0px 20px;
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid #383838;
}
 
#primary_nav li:last-child a {
  border-bottom: none;
}
 
#primary_nav li a:hover,
#primary_nav li a:focus {
  color: #1c1c1c;
  background: #ccc;
}

#resume-pdf-view {
  display: none;
}

.body-footer {
  color: #d8d8d8;
  background: #1c1c1c;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 15px;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  
  html, body
  {
    margin: 0;
  }

  a.to_nav {
    display: none;
  }
  
  #resume-pdf-view {
    display: block;
  }
  
  .wrapper {
    position: relative;
    width: 768px;
    margin: auto;
  }
  
  .body-content  {
    padding-bottom: 50px;
    margin-bottom: 20px;
  }

  #primary_nav {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    margin: 10px 10px 0px 10px;
    padding-bottom: 20px;
    margin: 0;
    padding-bottom: 0px; /* Height of the footer element */
  }
   
  #primary_nav li {
    display: inline;
  }
  
  #primary_nav li a {
    float: left;
    border: none;
    padding: 5 5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .body-footer {
    margin: 0;
    color: #d8d8d8;
    background: #1c1c1c;
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 15px;
    /*padding-top: 10px;*/
  }

}